@import 'variaveis';

//Html em geral
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

//Nav Aside
.nav-aside {
    max-width: 6%;
    position: fixed;
    background-color: $white;

    .nav-link {
        position: $relative;
        display: $flex;
        justify-content: $center;
        align-items: $center;
        color: $black;
        text-decoration: $none;
        cursor: $pointer;

        .custom-tooltip {
            visibility: hidden;
            opacity: 0;
            position: $absolute;
            left: 110%;
            /* Posiciona o tooltip à direita do ícone */
            top: 50%;
            transform: translateY(-50%);
            background-color: #333;
            color: $white;
            padding: 5px 10px;
            font-size: 0.9rem;
            border-radius: 4px;
            white-space: nowrap;
            transition: opacity 0.2s ease, visibility 0.2s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        &:hover .custom-tooltip {
            visibility: visible;
            opacity: 1;
        }

        &.active {
            color: $purple;
            cursor: $text;
        }
    }

    /* Estilo para o link ativo */
    .router-link-active {
        color: #6f42c1;
        cursor: text;

        i {
            color: #6f42c1;
        }
    }
}

.img-usuario {
    width: 50px;
    height: 50px;
    cursor: $pointer;
}

.conteudo-principal {
    margin-left: 6em;
}

// Responsividade da nav aside
@media (max-width: 768px) {
    .nav-aside {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        padding: 0 15px;
        background-color: #fff;

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: #000;
            text-decoration: none;
            cursor: $pointer;

            &.router-link-active {
                color: #6f42c1;
            }

            &.active {
                color: $purple;
                cursor: $text;
            }
        }
    }

    .navbar-toggler {
        border: none;
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    /* Corrige o espaçamento para o conteúdo principal */
    .col-md-11 {
        margin-top: 70px;
        /* Espaçamento abaixo da navbar no mobile */
    }

    .conteudo-principal {
        margin-left: 0;
        padding: 15px;
        /* Ajusta o padding no mobile */
    }
}

//Ver todos
.ver-todos {
    margin: 20px;

    .fa-house {
        color: #616161;
    }

    .fa-arrow-right {
        color: #CCC;
    }

    span {
        color: #333;
        font-weight: $bold;
    }
}

//Time
.time {
    margin: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
}

/* Ajustes gerais para responsividade */
.ver-todos,
.time {
    white-space: nowrap;
    /* Garante que os itens fiquem em uma linha, sem quebrar */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {

    .ver-todos,
    .time {
        white-space: normal;
        /* Permite que os itens quebrem linhas em dispositivos pequenos */
    }

    .ver-todos {
        margin-bottom: 10px;
        /* Adiciona espaço entre "ver-todos" e "time" */
    }

    .ver-todos span,
    .time span {
        font-size: 0.9rem;
    }
}

//Atendimento
.atendimento {

    h2 {
        font-weight: $bold;
    }

    .btn-roxo {
        background-color: $purple;
        color: $white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        transition: background-color .3s ease;
        text-decoration: none;

        &:hover {
            background-color: $purple-hover;
        }
    }

    .btn-supervisor {
        background-color: rgb(44, 44, 44);
        color: $white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        transition: background-color .3s ease;
        text-decoration: none;

        &:hover {
            background-color: $black;
        }
    }

    .input-container {
        position: relative;
        width: 300px;
    }

    .input-container i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #aaa;
        font-size: 16px;
    }

    .form-input {
        width: 100%;
        padding: 10px 15px 10px 40px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: all 0.3s ease;

        &::placeholder {
            color: #aaa;
            font-style: italic;
        }

        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
    }

    @media (max-width: 768px) {
        .form-input {
            width: 100%;
            /* O input ocupa toda a largura disponível */
        }

        .col-md-7 {
            justify-content: $center;
            align-items: $center;
            flex-direction: $column;
            text-align: $center;
        }

        h2 {
            text-align: $center;
        }

        .input-container,
        .btn-roxo,
        .btn-supervisor {
            margin-top: 20px;
            width: 100%;
            margin-left: 0;
        }
    }
}

//Navs e Tabs
.nav-tabs {

    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;

    .nav-link {
        color: #333;
        font-weight: $bold;

        &:hover {
            background-color: $white;

        }
    }

    @media (max-width: 768px) {

        .nav-tabs {
            margin-left: 0 !important;
        }

    }
}

//Mensagens

.mensagens {
    padding: 30px;
    height: 100%;
    overflow-y: auto;
    padding: 15px;
    border-right: 1px solid #ddd;
    background-color: #f8f9fa;
    height: 600px;
    max-height: 600px;

    h3 {
        font-weight: bold;
        margin: 0;
    }

    small {
        border: 1px solid #585858;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 0.9rem;
        color: #585858;
        background-color: #fff;
    }

    .btn-editar {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #585858;
        padding: 8px;
        cursor: $pointer;

        i {
            color: #585858;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .user-status-online {
        font-size: 0.9rem;
        color: #28a745;
    }

    .user-status-offline {
        font-size: 0.9rem;
        color: #8d8d8d;
    }

    .nao-lida {
        background-color: #6f42c1;
        width: 10%;
        border-radius: 50%;
        margin-right: 10px;
        display: inline-block;
        padding: 3px;

        span {
            color: $white;
            font-size: 13px;
        }
    }

    .input-mensagens {
        position: relative;

        i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
            font-size: 16px;
        }

        .form-input {
            width: 100%;
            padding: 10px 15px 10px 40px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            transition: all 0.3s ease;

            &::placeholder {
                color: #aaa;
                font-style: italic;
            }

            &:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }
    }

    .card-mensagem {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 15px;
        display: flex;
        flex-direction: column;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .nome {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
        }

        .tempo {
            font-size: 0.8rem;
            color: #aaa;
        }

        .telefone {
            font-size: 0.9rem;
            color: #585858;
            margin: 5px 0;
        }

        .mensagem {
            font-size: 0.9rem;
            color: #333;
            margin: 0;
        }

        &:hover {
            background-color: #e6e6e6;
            cursor: $pointer;
        }

        &.active-message {
            background-color: #d6d6d6;
            /* Cor de destaque */
        }
    }
}

//Chat
.chat {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: 600px;
    width: 100%;
    /* Garante largura total */

    /* Cabeçalho */
    .chat-header {
        border-bottom: 1px solid #ddd;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info {
            display: flex;
            align-items: center;

            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .user-name {
                margin: 0;
                font-size: 1.2rem;
                font-weight: bold;
            }

            .user-status {
                font-size: 0.9rem;
                color: #28a745;
            }

            .user-phone {
                font-size: 0.9rem;
                color: #888;
                margin: 0;
            }
        }

        .btn-action {
            background-color: #f8f9fa;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: $pointer;
            margin-left: 10px;

            i {
                margin-right: 5px;
            }

            &:hover {
                background-color: #e2e6ea;
            }
        }
    }

    /* Corpo do Chat */
    .chat-body {
        flex: 1;
        overflow-y: auto;
        /* Adiciona rolagem vertical */
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .message {
            display: flex;
            align-items: flex-start;

            /* Mensagens recebidas */
            &.received {
                .avatar {
                    margin-right: 10px;
                    height: 50px;
                    border-radius: 50%;
                }

                .message-content {
                    background-color: #f1f3f5;
                    border-radius: 10px;
                    padding: 10px 15px;
                    color: #333;
                    max-width: 80%;
                    /* Limita a largura das mensagens */
                    word-wrap: break-word;
                    /* Quebra o texto se necessário */
                    overflow-wrap: break-word;
                    /* Compatibilidade adicional */
                }

                .file-message {
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    padding: 15px 20px;
                    background-color: #f9f9f9;
                    max-width: 80%;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    margin-bottom: 20px;
                    cursor: $pointer;
                    transition: background-color .3s ease;

                    &:hover {
                        background-color: #e2e2e2;
                    }

                    .file-header {
                        margin-bottom: 15px;
                        /* Espaçamento maior entre o cabeçalho e o conteúdo */

                        .file-sender {
                            font-weight: bold;
                            font-size: 0.95rem;
                            margin-right: 10px;
                            /* Espaçamento entre o nome e o tempo */
                        }

                        .message-time {
                            font-size: 0.85rem;
                            color: #aaa;
                        }
                    }

                    .file-content {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        /* Aumentado o espaçamento entre o ícone e o texto */

                        .file-name {
                            font-weight: bold;
                            margin: 0;
                            color: #333;
                        }

                        .file-size {
                            font-size: 0.85rem;
                            color: #666;
                        }

                        i {
                            color: #e3342f;
                            /* Cor vermelha para o ícone PDF */
                        }
                    }
                }

            }

            /* Mensagens enviadas */
            &.sent {
                justify-content: flex-end;

                .message-content {
                    background-color: #222;
                    border-radius: 10px;
                    padding: 10px 15px;
                    color: #fff;
                    max-width: 80%;
                    /* Limita a largura das mensagens */
                    word-wrap: break-word;
                    /* Quebra o texto se necessário */
                    overflow-wrap: break-word;
                    /* Compatibilidade adicional */

                    .message-reactions {
                        margin-top: 5px;

                        i {
                            margin-right: 10px;
                            cursor: $pointer;

                            &:hover {
                                color: #ff0000;
                            }
                        }
                    }
                }
            }

            .message-time {
                font-size: 0.8rem;
                color: #aaa;
                margin-top: 5px;
                display: block;
            }
        }
    }

    /* Rodapé do Chat */
    .chat-footer {
        border-top: 1px solid #ddd;
        padding: 10px;
        display: flex;
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .message-input {
            flex: 1;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            font-size: 1rem;
            margin-right: 10px;
            outline: none;

            &:focus {
                border-color: #222;
            }
        }

        .icones-enviar {
            display: flex;
            align-items: center;

            i {
                margin: 0 10px;
                cursor: $pointer;
                color: #555;
                transition: .3s color ease;

                &:hover {
                    color: #222;
                }
            }

            /* Ajuste para telas menores */
            @media (max-width: 768px) {
                justify-content: center;
                width: 100%;
                margin-top: 10px;
            }
        }

        .btn-send {
            background-color: #555;
            border: none;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: $pointer;
            transition: .3s background-color ease;

            &:hover {
                background-color: #111;
            }
        }

        .dropdown-menu {
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 10px;

            .dropdown-item {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #333;

                &:hover {
                    background-color: #e6e6e6;
                }

                i {
                    color: #555;
                }
            }
        }

        .dropdown-toggle::after {
            display: none !important;
            /* Oculta a seta do dropdown */
        }

    }
}

/* Responsividade */
@media (max-width: 768px) {
    .chat {
        display: $block;
        width: 100%;
        height: calc(100vh - 60px);
        overflow-y: auto;
    }

    .mensagens {
        display: $none;
    }

    .chat-header {
        flex-wrap: wrap;
        padding: 10px;
    }

    .chat-footer {
        flex-wrap: wrap;
        padding: 10px;
    }

    .chat-body {
        padding: 10px;
    }

    .message-input {
        margin-bottom: 10px;
    }

    .message-content {
        max-width: 90%;
    }

    .btn-send {
        width: 100%;
        margin-top: 10px;
    }

    .supervisor-header {
        margin-top: 50px;
    }
}

//Aba do telefone
.telefone-aba {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    z-index: 1000;

    .telefone-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 15px;

        h5 {
            margin: 0;
            font-size: 1.2rem;
        }

        .btn-close {
            background: transparent;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    .telefone-body {
        text-align: center;

        .telefone-display {
            width: 100%;
            padding: 10px;
            font-size: 1.2rem;
            text-align: $center;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 15px;
            color: #555;
            letter-spacing: 2px;
        }

        .teclado {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            button {
                padding: 15px;
                font-size: 1.2rem;
                border: 1px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
                background-color: #f8f9fa;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #e2e6ea;
                }
            }
        }
    }

    .telefone-footer {
        display: $flex;
        justify-content: space-between;
        margin-top: 15px;

        .btn-apagar,
        .btn-chamar {
            padding: 10px 15px;
            border: $none;
            border-radius: 5px;
            cursor: $pointer;
        }

        .btn-apagar {
            background-color: #f8f9fa;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #e2e6ea;
            }
        }

        .btn-chamar {
            background-color: $purple;
            color: #fff;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $purple-hover;
            }
        }
    }
}

//Menu supervisor

.supervisor-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: $column;

    .supervisor-header {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        display: $flex;
        justify-content: space-between;
        align-items: $center;

        h5 {
            margin: 0;
            font-weight: $bold;
        }

        .btn-close {
            background: $none;
            border: $none;
            font-size: 1.5rem;
            cursor: $pointer;

            &:hover {
                color: red;
            }
        }
    }

    .supervisor-body {
        overflow-y: auto;
        padding: 15px;
        flex: 1;

        .supervisor-item {
            display: flex;
            align-items: $center;
            margin-bottom: 15px;

            .supervisor-avatar {
                width: 40px;
                height: 40px;
                background-color: #ddd;
                border-radius: 50%;
                display: flex;
                justify-content: $center;
                align-items: $center;
                font-weight: $bold;
                color: #555;
                margin-right: 15px;
            }

            .supervisor-info {
                h6 {
                    margin: 0;
                    font-size: 1rem;
                }

                .supervisor-link {
                    color: $purple;
                    text-decoration: $none;
                    font-size: 0.9rem;

                    i {
                        margin-left: 5px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}