//Colors
$bg-light: #f8f9fa;
$purple: #6941c6;
$purple-hover: #5c3a9f;
$white: #FFF;
$black: #000;


//Positions
$center: center;
$relative: relative;
$absolute: absolute;
$flex: flex;
$column: column;
$block: block;

//Others
$none: none;
$pointer: pointer;

//Text
$bold: bold;
$uppercase: uppercase;